/* =============================================
    START _contact.scss
 ============================================= */

.contact-us-sandbox {

  .contact-us-form-link {
    color: #fff;
  }

  h1 {
    font-size: rem(30);
    width: 53%;
    margin: 30px auto;

    @include breakpoint(phablet) {
      width: 80%;
      font-size: rem(25);
    }

  }


}/*  ********** END .contact-us-sandbox **************  */

iframe {
  width: 49%;
  margin: 0 auto;
  display: block;
  min-width: 690px;
  height: 574px;

  @include breakpoint(tablet) {
    min-width: 10px;
  }

  @include breakpoint(mobileonly) {
    width: 92%;
  }

}

.address-phone {
  text-align: center;
  margin: 30px 0;
}