<script id="classes" type="text/html">
    <div class="classes-content-box spacing-for-nav">
        <div class="classes-bg">
            <section class="greeting">
                <h1>Become a web developer.</h1>
                <blockquote class="classes-quote">
                    The mind is everything<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    What you think you become <br/>
                    <cite>
                        - Buddha
                    </cite>
                </blockquote>
            </section>
        </div>

        <section class="features classes">
            <h2 class="class-free">First class is free!
                <span class="email-us-link"><a href="mailto:info@goldenstatetech.com">Email us</a> for more information.</span>
            </h2>

            <div class="wrapper">

                <h2 class="join-us">Come Join Us</h2>

                <p>
                    At Golden State we learn by doing. We code together, we meditate and we practice mindfulness. Each
                    type of training supports and enhances the other to bring balance, clarity and professional success
                    into your life. 
                </p>

                <p>
                    Your first class is free, then it's $50 per class afterward. Or unlimited classes for 150 per month.
                    To become certified and eligible for our job placement services, you must complete all of the
                    coursework with a passing score.
                </p>

                <div class="lesson">
                    <h3>The Basics</h3>
                    <h4>August 3, 2014</h4>
                    <ul>
                        <li>What it means to be a web developer</li>
                        <li>Orientation on the UI module</li>
                        <li>Introduction to HTML</li>
                        <li>Meditation 101</li>
                    </ul>

                </div>

                <div class="lesson">
                    <h3>Getting Started</h3>
                    <h4>August 10, 2014</h4>
                    <ul>
                        <li>HTML deep dive</li>
                        <li>Intro to CSS</li>
                        <li>Debugging tips & tricks</li>
                        <li>Mindfulness 101</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Web App Kick-off</h3>
                    <h4>August 17, 2014</h4>
                    <ul>
                        <li>Key topic review</li>
                        <li>Web App project prep</li>
                        <li>Meditation Exercise</li>
                    </ul>

                </div>

                <div class="lesson">
                    <h3>Intro to Javascript</h3>
                    <h4>August 24, 2014</h4>
                    <ul>
                        <li>Javascript basics</li>
                        <li>Data types and operators</li>
                        <li>Mindfulness assignment</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Intro to Javascript</h3>
                    <h4>August 31, 2014</h4>
                    <ul>
                        <li>Process flows and conditional logic</li>
                        <li>Loops, functions and methods</li>
                        <li>Event handling</li>
                        <li>Mindfulness assignment discussion</li>
                    </ul>

                </div>

                <div class="lesson">
                    <h3>Javascript | Lesson 1</h3>
                    <h4>September 7, 2014</h4>
                    <ul>
                        <li>Javascript deep dive</li>
                        <li>Try/catch and error handling</li>
                        <li>Event listening and propagation</li>
                        <li>Guest speaker on mindfulness</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Javascript | Lesson 2</h3>
                    <h4>September 14, 2014</h4>
                    <ul>
                        <li>DOM manipulation</li>
                        <li>Visualization exercise</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Javascript | Lesson 3</h3>
                    <h4>September 21, 2014</h4>
                    <ul>
                        <li>AJAX and JSON</li>
                        <li>RESTful web services</li>
                        <li>Martial arts activity</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Javascript | Lesson 4</h3>
                    <h4>September 28, 2014</h4>
                    <ul>
                        <li>Namespacing</li>
                        <li>Closures</li>
                        <li>Popular design patterns</li>
                        <li>Meditation</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Javascript | Lesson 5</h3>
                    <h4>October 5, 2014</h4>
                    <ul>
                        <li>Intro to jQuery</li>
                        <li>Hot built-in functions</li>
                        <li>jQuery vs Javascript</li>
                        <li>Lecture on meditation and mindfulness</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Greatest Hits</h3>
                    <h4>October 12, 2014</h4>
                    <ul>
                        <li>Recap of past sessions</li>
                        <li>Project wrap up</li>
                        <li>Meditation</li>
                    </ul>
                </div>

                <div class="lesson">
                    <h3>Finals</h3>
                    <h4>October 19, 2014</h4>
                    <ul>
                        <li>UI Developer certification exam</li>
                        <li>Personal practice retrospective</li>
                        <li>Q&A</li>
                    </ul>
                </div>


            </div>


        </section>
    </div>
</script>