
<script id="contact" type="text/html">

    <div class="contact-us-sandbox">
        <h1>Contact Golden State</h1>

        <!-- link from foxyform.com, loads an iframe with the form fields -->
        <a class="contact-us-form-link" id="foxyform_embed_link_562406" href="http://www.foxyform.com/">foxyform</a>
    </div>

</script>