<script id="homePage" type="text/html">
    <div class="home-page-bg">
        <section class="greeting">
            <h1>Mindful Coding.</h1>

            <h2>Programming classes designed for your personal
                and professional growth.
            </h2>

            <div class="sign-up-wrapper sign-up-tmpl"></div>
        </section>
        <!--  End greeting  -->

        <section class="features">

            <div class="wrapper">
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon1.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3>UI Web Developer</h3>

                        <p>
                            This 12-week course includes hands on training with the latest front end technologies.
                            By the end of the course, students will have created their own portfolio site using HTML,
                            CSS and Javascript.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon2.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3>Back End Developer</h3>

                        <p>
                            Learn Database and SQL along with Java and J2EE. This course provides an overview of basic
                            programming structures, object oriented programming and data modeling.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon3.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3> Graduate Programs</h3>

                        <p>
                            Our mentorship program supports grads in putting their technical and personal development
                            training into practice by placing them in a job and showing them how to be happy in what
                            they do.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon4.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3>Technology</h3>

                        <p>
                            Courses cover cutting-edge technologies like HTML5, CSS3 and JQuery.
                            Instructors also work as consultants for some of the top companies in the world, so
                            students learn how to code like a pro.
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon5.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3>Mindfulness</h3>

                        <p>
                            Being an awesome coder requires having a still and balanced mind.
                            That's why we focus a lot on mindfulness practice and meditation.
                            Seems like an odd combo, but trust us it works!
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="ficon">
                        <img src="../images/icon6.png" alt="">
                    </div>
                    <div class="details_exp">
                        <h3>Success</h3>

                        <p>
                            Software Engineers are in high demand so it's a pretty sweet career to have where you can
                            make
                            good money. What sets our grads apart is that they use their work to strengthen their
                            spirit.
                        </p>
                    </div>
                </div>
            </div>

        </section>
        <!--  End Features  -->

        <section class="info">

            <div class="info_details">
                <h3>What We’re About</h3>

                <p>
                    We've taken techniques of meditation and mindfulness and incorporated them into a comprehensive
                    technology training and career mentorship program to show beginning programmers how to find inner
                    peace and happiness as they learn the skills necessary to succeed and excel in their careers.
                </p>

            </div>

            <div class="info_pic"></div>
            <!-- THIS ELEMENT CONTAINS THE PICTURE THAT APPEARS NEXT TO THE ABOUT US PARAGRAPH -->

        </section>
        <!--  End Info  -->

        <section class="testimonials">

            <blockquote class="testimonial-wrapper">

                It's amazing how much I learned! Not only did I learn the skills to get a programming job,
                I learned how to live better. And, I met so many cool people along the way.

                <cite>
                    - Fumito
                </cite>
            </blockquote>

            <blockquote class="testimonial-wrapper testimonial-2">

                Thanks Golden State, you really helped me take a big step up in my career as a front end developer. I
                think what
                I learned most was about possibilities and options in life.

                <cite>
                    - Conner
                </cite>
            </blockquote>

            <blockquote class="testimonial-wrapper">

                The earnest support I received at Golden State helped me break through my mental barriers and
                made me believe that I can do it. It’s not just a tech school, it’s a life changing experience.

                <cite>
                    - Kristina
                </cite>
            </blockquote>

        </section>
    </div>

    <!--  End Testimonials  -->
</script>