<!--TEMPLATE FOR GLOBAL HEADER AND FOOTER & CONTENT WRAPPER -->

<script id="landing" type="text/html">
    <nav>

        <!-- <img src="img/logo.png" alt="Crafty" class="logo"> -->
        <h4 class="header-school-name">GOLDEN STATE TECH<span class="technology-institute">NOLOGY INSTITUTE</span></h4>

        <div class="navigation-btns">
            <!--<button class="about">ABOUT</button>-->
            <button class="home selected">HOME</button>
            <button class="classes">CLASSES</button>
            <button class="contact">CONTACT</button>
        </div>
    </nav>

    <!--Start Page content -->
    <section class="content-wrapper">

    </section>
    <!--End Page content -->

    <footer>

        <div class="footer-logo">
            <h4 class="header-school-name">GOLDEN STATE TECHNOLOGY INSTITUTE</h4>
        </div>

        <div class="footer-signup-width-modifier">
            <div class="sign-up-wrapper sign-up-tmpl">

            </div>
        </div>

        <div class="footer-links">
            <span class="footer-copyright">COPYRIGHT © 2014 GOLDEN STATE TECHNOLOGY INSTITUTE</span>
            <a class="privacy-link" href="privacy.html">PRIVACY</a>
            <a href="terms.html">TERMS</a>
        </div>

    </footer>
    <!--  End Footer  -->
</script>

